*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    max-width: 90%;
    margin: 0 auto;
    background-color: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.search-bar h1{
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}
.search-bar form{
    width: 300px;
    margin: 0 auto;
    padding: 30px 0;
}

.search-bar .form-group{
    display: flex;
    justify-content: center;
}
.search-bar input[type=text]{
    width: 100%;
}

.search-bar input[type=submit]{
    padding: 2px 5px;
    margin: 2px;
}
.footer-bar{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.footer-bar div{
    margin-top: 5px;
    width: 33.2%;
}
.footer-bar div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-bar div ul li{
    text-align: center;
}
.footer-bar div:nth-child(1){
    background-color: #7EE5DA;
}
.footer-bar div:nth-child(2){
    background-color: #70CCC2;
}
.footer-bar div:nth-child(3){
    background-color: #62B3AA;
}

footer p{
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 14px;
}

